<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express JS - Ejs - vercel</title>
    <style>
        div {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        h1 {
            color: darkgoldenrod;
        }
    </style>
</head>

<body>
    <div>
        <h1>Express-EJS-Vercel</h1>
        <p>
            <%= title %>
        </p>
    </div>
</body>

</html>